.chat{
    flex: 2;
    display: flex;
    flex-direction: column;
    background-color: rgba(45, 45, 45, 0.5);

  }

  .message{
       max-width: 70%;
      display: flex;
      gap: 10px;


    &.own{
      align-self: flex-end;
    }
  }

  input{


    &:disabled{
      background-color: rgb(103, 103, 103);
      cursor: not-allowed;
    }
  }


.center{
  padding: 20px;
  flex:1;
}  


.chat .bottom .chatInput{
  /* background-color: rgba(42, 44, 46, 0.5); */
  background-color: rgba(134, 158, 203, 0.5);
}

.emoji > .picker{
  position: absolute;
  bottom: 50px;
  right:0;
}

.sendButton{


  &:disabled{
    background-color: rgb(103, 103, 103);
    cursor: not-allowed;
  }
}

