.item{
    flex:1;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(121, 121, 121, 0.319);
    border-radius: 5px;
    box-shadow: inset 1px 0px 15px rgb(108, 187, 247);


}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form>input{
    background: transparent;
    border: none;
    outline: none;
    text-align: center;
}

form button{
    font-size: medium;
    /* background-color: rgba(16, 48, 232, 0.8); */
    background-color: transparent;
    width: 90%;
    border-radius: 5px;
    color: white;
    box-shadow: inset 0px 0px 5px rgb(0, 221, 255);
    transition: 0.1s ease-in;
    padding: 3px;

    &:disabled{
        cursor: not-allowed;
        background-color: rgb(61, 61, 61);
    }

}

form button:hover{
    transform: scale(1.02);
    background-color: rgba(253, 253, 253, 0.8) ;
    color: rgba(16, 48, 232);
    box-shadow: inset 0px 0px 5px rgb(0, 221, 255);

}